<h1>Confirmez votre email!</h1>

<p>
    Merci de confirmer votre email en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl }}">Confirmer Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
