{% extends 'base-backend.html.twig' %}

{% block title %}New Transporteur{% endblock %}

{% block body %}
    <h1>Create new Transporteur</h1>

    {{ include('admin_transporteur/_form.html.twig') }}

    <a href="{{ path('app_admin_transporteur_index') }}">back to list</a>
{% endblock %}
