{% extends 'base-backend.html.twig' %}

{% block title %}Administration - IKAL{% endblock %}

{% block body %}

<div class="text-center">
    
    <h1>Bienvenue sur votre Dashboard</h1>
</div>
{% endblock %}
