<div class="text-dark">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-grid gap-2 ">
            <button class="btn btn-success mx-5 mt-2">{{ button_label|default('Sauvegarder') }}</button>                    
        </div>        
    {{ form_end(form) }}
</div>